---
import { profile } from '../data/profile';

const base = import.meta.env.BASE_URL.replace(/\/$/, '');
const asset = (p: string) => `${base}/${p.replace(/^\//, '')}`;
---

<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About me</h2>
      <p>{profile.about.greeting}</p>
      <br />
      <p>{profile.about.summary}</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src={asset(profile.photo)} class="img-fluid" alt={profile.name} />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p>{profile.about.current}</p>
        <ul>
          {
            profile.about.expertise.map((e) => (
              <>
                <b>{e.label}</b>
                <br />
                {e.value}
                <br />
                <br />
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
